# Dependencies
node_modules/

# Build files
build/
dist/

# Environment variables
.env

# Logs
*.log

# Operating System Files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Temporary files
*.tmp
*.swp